<table id="tablePlayers">
	<thead>
		<tr>
			<th>Name</th>
			<th>Hand Size</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody id="tablePlayersRows">
	</tbody>
</table>

<button id="">Make a New Player</button>