<table id="tablePlayers">
	<thead>
		<tr>
			<th>Name</th>
			<th>Hand Size</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody id="tablePlayersRows">
	</tbody>
</table>

<button id="">Make a New Player</button>

<div id="inputs">
	<input id="nameInput" type="text" placeholder="Name of Player"><br />
	<input id="handSizeInput" type="text" placeholder="Hand Size of Player">
</div>
